---
import Layout from "@/layouts/Layout.astro";
import Brand from "@/components/ui/Brand";
import Login from "@/components/auth/Login";
import burning from "@/assets/burning.svg";

const turnstileSiteKey = process.env.TURNSTILE_SITE_KEY;
---

<Layout>
  <!-- <div class="fixed -z-10 h-screen w-full">
    <PrismaticBurst
      animationType="rotate3d"
      speed={0.6}
      distort={100}
      offset={{ x: 0, y: 0 }}
      hoverDampness={0.25}
      rayCount={24}
      mixBlendMode="lighten"
      colors={["#F83A00", "#ffffff"]}
      client:load
    />
  </div> -->

  <div class="fixed bottom-6 -z-10 w-full opacity-15 sepia">
    <img
      src={burning.src}
      alt="Burning"
      class="h-auto max-h-[900px] w-full px-6"
    />
  </div>

  <div class="px-md md:px-lg mx-auto h-screen w-full max-w-screen-sm">
    <div class="flex h-full flex-col items-center justify-center gap-12">
      <Brand client:load />
      {
        turnstileSiteKey && (
          <Login turnstileSiteKey={turnstileSiteKey} client:load />
        )
      }
    </div>
  </div>
</Layout>
