---
import Layout from "@/layouts/Layout.astro";
import Brand from "@/components/ui/Brand";
import Countdown from "@/components/Countdown";
import { user, session } from "@/stores";

user.set(Astro.locals.user);
session.set(Astro.locals.session);

const $user = user.get();

const now = new Date();
const activationDate = $user?.activationDate;

const isActivationDateReached = activationDate && now >= activationDate;
const isAiApproved = $user?.aiApproved === true;
const isFormSubmitted = $user?.formSubmitted === true;
---

<Layout>
  <div class="px-md md:px-lg mx-auto h-screen w-full max-w-screen-sm">
    <div class="flex h-full flex-col items-center justify-center gap-12">
      <Brand client:load />
      {
        $user?.email !== null &&
          (!isActivationDateReached ? (
            <Countdown now={now} activationDate={activationDate} client:load />
          ) : !isAiApproved ? (
            <div>todo: chatbot</div>
          ) : !isFormSubmitted ? (
            <div>todo: form</div>
          ) : (
            <div>todo: success</div>
          ))
      }
    </div>
  </div>
</Layout>
