---
import Layout from '../layouts/Layout.astro';
import Brand from '../components/ui/Brand';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class="max-w-screen-sm mx-auto px-md md:px-lg w-full h-screen">
      <div class="flex flex-col gap-12 items-center justify-center h-full">
        <Brand client:load />
        <!-- <div class="h-12 border-3 w-full dark:border-white border-[#F73A01]"></div> -->
        <div class="flex flex-col gap-4 w-full">
          <div class="border-3 px-4 py-2 w-full font-bold">Github</div>
          <div class="border-3 px-4 py-2 w-full font-bold">Google</div>
          <div class="border-3 px-4 py-2 w-full font-bold">Email</div>
        </div>
      </div>
  </div>
</Layout>
